/*  SECTIONS  */
.sectiondiv {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.coldiv {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.coldiv:first-child { margin-left: 0; }

/*  GROUPING  */
.groupdiv:before,
.groupdiv:after { content:""; display:table; }
.groupdiv:after { clear:both;}
.groupdiv { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.coldiv { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
